@import url("http://fonts.googleapis.com/css?family=Roboto:100,500,300,700,400");
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; vertical-align: baseline; }

body, html { height: 100%; }

img, fieldset, a img { border: none; }

input[type="text"], input[type="email"], input[type="tel"], textarea { -webkit-appearance: none; border-radius: 0; }

input[type="submit"], button { cursor: pointer; }
input[type="submit"]::-moz-focus-inner, button::-moz-focus-inner { padding: 0; border: 0; }

textarea { overflow: auto; }

input, button { margin: 0; padding: 0; border: 0; }

div, input, textarea, select, button, h1, h2, h3, h4, h5, h6, a, span, a:focus { outline: none; }

ul, ol { list-style-type: none; }

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) { * { -webkit-text-size-adjust: none; } }
table { border-spacing: 0; border-collapse: collapse; width: 100%; }

.header .inn, .content > .inn, .footer { width: 960px; }

body { font-family: Arial, sans-serif; font-size: 12px; line-height: 1.4; }

a { text-decoration: none; }

.reg-pop-up { display: none; }

.header { width: 100%; background-color: #1c262a; }
.header .inn { margin: 0 auto; padding: 10px 0; position: relative; *zoom: 1; }
.header .inn:after { content: " "; display: table; clear: both; }
.header__logo { float: left; position: absolute; top: 50%; -moz-transform: translate(0, -50%); -ms-transform: translate(0, -50%); -webkit-transform: translate(0, -50%); transform: translate(0, -50%); background: url('../img/icons-s128c12f24e.png') 0 -157px no-repeat; width: 35px; height: 35px; }
.header__search { display: inline-block; margin-left: 211px; position: relative; }
.header__search i { background: url('../img/icons-s128c12f24e.png') 0 -328px no-repeat; width: 23px; height: 23px; display: inline-block; position: absolute; left: -40px; top: 50%; -moz-transform: translate(0, -50%); -ms-transform: translate(0, -50%); -webkit-transform: translate(0, -50%); transform: translate(0, -50%); }
.header__search input { width: 290px; background-color: #0d1113; font-family: "Roboto"; font-size: 14px; padding: 10px; border-radius: 2px !important; border: 1px solid #0d1012; -moz-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2); -webkit-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2); box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2); position: relative; color: #fff; }
.header__search input:-moz-placeholder, .header__search input::-moz-placeholder { color: rgba(255, 255, 255, 0.5); opacity: 1; }
.header__search input::-webkit-input-placeholder { color: rgba(255, 255, 255, 0.5); }
.header__nav { position: absolute; top: 50%; right: 0; -moz-transform: translate(0, -50%); -ms-transform: translate(0, -50%); -webkit-transform: translate(0, -50%); transform: translate(0, -50%); }
.header__nav li { float: left; position: relative; margin-left: 31px; }
.header__nav li:last-child { margin-right: 10px; }
.header__nav li a { display: inline-block; }
.header__nav li a.bell { background: url('../img/icons-s128c12f24e.png') 0 0 no-repeat; width: 20px; height: 23px; }
.header__nav li a.phone { background: url('../img/icons-s128c12f24e.png') 0 -295px no-repeat; width: 15px; height: 23px; }
.header__nav li a.down { background: url('../img/icons-s128c12f24e.png') 0 -63px no-repeat; width: 13px; height: 8px; position: relative; top: 7px; }

.content { width: 100%; background-color: #080B0D; }
.content > .inn { margin: 0 auto; *zoom: 1; background-color: #0f1416; }
.content > .inn:after { content: " "; display: table; clear: both; }

.footer { background: #1c262b; margin: 0 auto; *zoom: 1; }
.footer:after { content: " "; display: table; clear: both; }
.footer .up { *zoom: 1; padding-top: 60px; }
.footer .up:after { content: " "; display: table; clear: both; }
.footer__logo { float: left; width: 480px; position: relative; }
.footer__logo .inn { background: url('../img/icons-s128c12f24e.png') 0 -202px no-repeat; width: 217px; height: 83px; margin-top: 40px; position: absolute; left: 50%; -moz-transform: translate(-50%, 0); -ms-transform: translate(-50%, 0); -webkit-transform: translate(-50%, 0); transform: translate(-50%, 0); }
.footer__info { float: right; *zoom: 1; }
.footer__info:after { content: " "; display: table; clear: both; }
.footer__info div { float: left; color: #fff; margin-right: 20px; }
.footer__info div h2 { font-family: "Roboto"; font-weight: 300; border-bottom: 3px solid #236f6b; width: 140px; text-transform: uppercase; font-size: 18px; }
.footer__info div ul li { margin-top: 15px; margin-left: 10px; position: relative; }
.footer__info div ul li a { color: #9da1a3; font-family: "Roboto"; font-weight: 500; font-size: 14px; text-decoration: none; }
.footer__info div ul li a:hover, .footer__info div ul li a:focus { text-decoration: underline; }
.footer__info div ul li a i { display: inline-block; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80); opacity: 0.8; padding-right: 10px; vertical-align: middle; position: relative; padding-bottom: 1px; top: -2px; }
.footer__info div ul li a.fb i { background: url('../img/icons-s128c12f24e.png') 0 -105px no-repeat; width: 16px; height: 16px; }
.footer__info div ul li a.gl i { background: url('../img/icons-s128c12f24e.png') 0 -131px no-repeat; width: 16px; height: 16px; }
.footer__info div ul li a.tw i { background: url('../img/icons-s128c12f24e.png') 0 -361px no-repeat; width: 16px; height: 16px; }
.footer__info div ul li a.em i { background: url('../img/icons-s128c12f24e.png') 0 -81px no-repeat; width: 16px; height: 14px; top: -1px; }
.footer__bot { text-align: center; }
.footer__bot .line { width: 100%; height: 1px; background: #12191c; margin-top: 40px; }
.footer__bot p { text-transform: uppercase; color: #9da1a3; padding: 40px 0; font-family: "Roboto"; font-weight: 500; font-size: 14px; }

.l { *zoom: 1; }
.l:after { content: " "; display: table; clear: both; }
.l .l-col1 { float: left; width: 20%; }
.l .l-col2 { float: right; width: 70%; }

.content.landing { background-image: url("../img/landing_bg.jpg"); background-repeat: no-repeat; }

.content.landing .inn { background: transparent; }
.content.landing .content__top { *zoom: 1; padding-top: 60px; }
.content.landing .content__top:after { content: " "; display: table; clear: both; }
.content.landing .content__top .follow { margin-top: 120px; float: left; color: #fff; }
.content.landing .content__top .follow h3 { font-family: "Roboto"; font-weight: 100; font-size: 48px; }
.content.landing .content__top .follow p { font-family: "Roboto"; font-weight: 400; font-size: 14px; margin-top: 30px; }
.content.landing .content__top .follow .btn { text-align: center; color: #fff; font-family: "Roboto"; font-weight: 500; text-transform: uppercase; margin-top: 85px; }
.content.landing .content__top .follow .btn input { width: 170px; height: 50px; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; margin: 0 5px; cursor: pointer; }
.content.landing .content__top .follow .btn .regular { background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzMxYzFiOCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzE5ODI3NSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA=='); background-size: 100%; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #31c1b8), color-stop(100%, #198275)); background-image: -moz-linear-gradient(#31c1b8, #198275); background-image: -webkit-linear-gradient(#31c1b8, #198275); background-image: linear-gradient(#31c1b8, #198275); }
.content.landing .content__top .follow .btn .tran { background: transparent; border: 3px solid #fff; }
.content.landing .content__top .phones { float: right; }
.content.landing .content__bott .title { margin: 0 auto; text-transform: uppercase; color: #FFF; }
.content.landing .content__bott .title p { font-size: 14px; }
.content.landing .content__bott .title h2 { font-family: "Roboto"; font-size: 48px; font-weight: 100; }
