.content
	&__main.list
		.cover
			width: 100%
			.person
				height: 278px 
				overflow: hidden  
				position: relative
				.img
					width: 100%
					img
						width: 100% 
				.text
					position: absolute
					bottom: 20px
					color: #fff
					left: 20px 
					p
						font-family: "Roboto"
						font-weight: 500
						font-size: 14px 
						text-transform: uppercase 
					h3
						font-family: "Roboto"
						font-weight: 300
						font-size: 28px 
						text-transform: uppercase
			.nav
				ul
					background-color: #1d272c 
					li
						width: 24.65%
						display: inline-block
						text-align: center
						position: relative
						a
							display: block
							color: #969899
							padding: 10px 0
							font-family: "Roboto"
							font-weight: 500 
							+hover-link
							&.is-active
								border-bottom: 3px solid #26a69a 
		.list
			padding: 6px 6px 50px 6px
			+clr
			.item
				float: left
				padding: 4px 
				margin-right: 4px 
				margin-bottom: 4px 
				background-color: #1a2327 
				&:nth-child(4n)
					margin-right: 0
				.img
					width: 146px
				.text
					padding-top: 10px 
					padding-left: 10px 
					color: #969899
					.name
						text-transform: uppercase
						font-family: "Roboto"
						font-weight: 500
						color: #969899
						+hover-link
					.activity
						text-transform: capitalize
						font-family: "Roboto"
						font-weight: 500

								
					


		
