// # SHORT HOWTO
// ## Sprites
//     .whatever
//          +sized-sprite($icons, coderiver) //or
//      +s(codedby) //gets default value for spritemap as $icons
// ### animation example
//     +include keyframes(rotate)
//        from
//           +rotate(0)
//        to
//           +rotate(360)
// ## animation usage
//     body:hover
//      +animation(rotate 200s linear infinite)
// ## animations easing, see easings.net for full list and examples, tnx @ai
//     transition: all 1.2s ceaser($ease-in)
// ## gradient example
//     +background-image(linear-gradient(#232323, #5c5c5c));
//     +g(#232323, #5c5c5c);
//     horizontal
//     +gh(#232323, #5c5c5c);
// ## making bw-images
//     img
//      @extend %gray
// ## predefined media-queries: https://github.com/paranoida/sass-mediaqueries
//     +min-screen(320)
//      display: none
// +max-screen(1000), +iphone5, +iphone4, +ipad-retina, +ipad, +hdpi - also available
//
// ## use cycles
//     @for $i from 1 through 3
//       .item-#{$i}
//      width: 2em * $i;
//     @each $s in a,b,c
//        #{$s}
//        display: none
// ## fonts 
// Save fonts to /css/fonts, after that write (eot, woff, ttf):
// +font(book, cytiapro-black-webfont)  
// =book
//  font-family: "book", Arial, sans-serif 
// insert pics into css
// div
//  +pic("blabla.png")
// span
//  +png(blabla)
// p
//  +jpg(bla)
@import url("http://fonts.googleapis.com/css?family=Roboto:100,500,300,700,400")
@import "compass/typography/links/hover-link"
%size 
	width: 960px
%size-l
	width: 1024px  

body
	font-family: Arial, sans-serif 
	font-size: 12px 
	line-height: 1.4
	background-color: #080B0D 
	
a
	text-decoration: none 

// common blocks 
.reg-pop-up
	// display: none 
	position: absolute
	top: 175px
	left: 50%
	+translate(-50%, 0)
	background-color: #1b2428
	z-index: 999
	padding: 11px 20px 20px
	h2
		font-family: "Roboto"
		font-weight: 100
		font-size: 28px  
		color: #fff 
	.form
		+clr
		.fb
			float: left
			padding: 5px 20px 0 0px
			border-right: 1px solid  #171f22
		fieldset
			float: right
			padding-left: 20px
			input
				width: 240px
				display: block
				padding: 10px 20px
				font-family: "Roboto" 
				font-weight: 500 
				margin-top: 8px
				font-size: 17px 
				color: #fff
				background-color: #0c1011 
				+placeholder-color(#474a4b) 
				+border-radius(5px)
				&.regular
					@extend %regular
					width: 100% !important
					font-size: 12px !important
			label
				color: #9da1a2
				width: 100% !important
				text-align: right
				display: block
				cursor: pointer
				margin: 15px 0
				position: relative
				input[type="checkbox"] 
					visibility: hidden
				i
					+s(check)
					display: inline-block
				input[type="checkbox"]:checked + i
					+s(checked)
				span
					padding-left: 10px 
					vertical-align: top
			a
				display: block
				text-align: center
				text-transform: uppercase 
				color: #9da1a2
				margin-top: 20px 
				font-size: 10px 
				+hover-link
.header
	width: 100%
	min-width: 1024px 
	background-color: #1c262a
	.inn
		@extend %size
		margin: 0 auto
		padding: 10px 0
		position: relative
		+clr
	&__logo
		float: left
		position: absolute
		top: 50%
		+translate(0, -50%) 
		+s(logo)
	&__search
		display: inline-block
		margin-left: 211px
		position: relative
		i
			+s(search)
			display: inline-block
			position: absolute
			left: -40px
			top: 50%
			+translate(0, -50%) 
		input
			width: 290px 
			background-color: #0d1113
			font-family: "Roboto" 
			font-size: 14px 
			padding:  10px  
			+placeholder-color(rgba(#fff, .5))
			border-radius: 2px !important
			border: 1px solid #0d1012
			+box-shadow(0 0 0 1px rgba(#000, .2))
			position: relative
			color: #fff
	&__nav
		position: absolute
		top: 50%
		right: 0
		+translate(0, -50%) 
		li
			float: left
			position: relative
			margin-left: 31px
			&:last-child
				margin-right: 10px 
			a
				display: inline-block
			a.bell
				+s(bell)
			a.phone
				+s(phone)
			a.down
				+s(down)
				position: relative
				top: 7px
.content
	width: 100% 
	>.inn
		@extend %size-l
		margin: 0 auto
		+clr
		background-color: #0f1416
		
	.cover
		width: 100%
		.person
			height: 278px 
			overflow: hidden  
			position: relative
			.img
				width: 100%
				img
					width: 100%
		.nav
			ul
				background-color: #1d272c 
				li
					width: 24%
					display: inline-block
					text-align: center
					position: relative
					a
						display: block
						color: #969899
						padding: 10px 0
						font-family: "Roboto"
						font-weight: 500 
						+hover-link
						&.is-active
							border-bottom: 3px solid #26a69a  
		.text
			position: absolute
			bottom: 20px
			color: #fff
			left: 20px 
			p
				font-family: "Roboto"
				font-weight: 500
				font-size: 14px 
				text-transform: uppercase 
			h3
				font-family: "Roboto"
				font-weight: 300
				font-size: 28px 
				text-transform: uppercase
	.content__menu
		width: 190px
		float: left
		.profile
			margin: 22px 30px 0 30px
			padding-bottom: 15px 
			padding-right: 35px 
			border-bottom: 1px solid #090c0d
			display: table
			.img
				width: 38px
				height: 38px
				+border-radius(50%)
				overflow: hidden
				position: relative
				display: inline-block
				img
					+vcenter
			span
				color: #969899
				text-transform: uppercase 
				display: table-cell
				vertical-align: middle
				padding-left: 10px 
				font-size: 14px 
				font-family: "Roboto"
				font-weight: 500 
				
		.nav
			ul
				li
					width: 100% 
					border-bottom: 1px solid #090c0d
					a
						width: 100% 
						padding: 10px 0 7px 43px
						display: inline-block
						font-family: "Roboto"
						font-weight: 500
						font-size: 14px 
						color: #969899
						+hover-link
						i
							display: inline-block
							padding-right: 20px
							position: relative
							top: 3px  
							opacity: .5
						&.fd
							i
								+s(fd)
						&.str
							i
								+s(str)
						&.exp
							i
								+s(exp)
						&.news
							i
								+s(news)
								opacity: 1
	.content__main
		display: inline-block
		width: 640px 
		background-color: #151C1F 
		+box-shadow(5px 0px 5px -2px #0c1112, -5px 0px 5px -2px #0c1112)
	.content__trends
		float: right
		width: 190px 
		color: #969899
		// padding: 30px 0 0 20px
		h4
			display: block
			text-transform: uppercase 
			margin: 33px 45px 0px 20px
			padding-bottom: 30px
			border-bottom: 1px solid #090c0d
			font-family: "Roboto"
			font-weight: 500 
			font-size: 14px 
		ul
			margin-left: 23px 
			li
				a
					padding: 10px 0
					display: inline-block
					color: #969899
					font-family: "Roboto"
					font-weight: 500  
					font-size: 14px 
					+hover-link
					i
						display: inline-block
						padding-right: 20px
					&.up
						i
							+s(up)
					&.down
						i
							+s(down)
			
.footer
	@extend %size-l
	background: #1c262b
	margin: 0 auto
	+clr
	.up
		+clr
		padding-top: 60px 
	&__logo
		float: left
		width: 480px 
		position: relative
		.inn
			+s(logo_big)
			margin-top: 40px
			position: absolute
			left: 50%
			+translate(-50%, 0) 

	&__info
		float: right
		+clr
		div
			float: left
			color: #fff
			margin-right: 20px  
			h2
				font-family: "Roboto"
				font-weight: 300 
				border-bottom: 3px solid  #236f6b 
				width: 140px 
				text-transform: uppercase 
				font-size: 18px 
			ul
				li
					margin-top: 15px
					margin-left: 10px  
					position: relative
					a
						color: #9da1a3
						font-family: "Roboto" 
						font-weight: 500 
						font-size: 14px
						+hover-link
						i
							display: inline-block
							+opacity(.8)
							padding-right: 10px 
							vertical-align: middle
							position: relative
							padding-bottom: 1px 
							top: -2px 
						&.fb
							i
								+s(fb)
						&.gl
							i
								+s(gl)
						&.tw
							i
								+s(tw)
						&.em
							i
								+s(em)
								top: -1px
	&__bot
		text-align: center
		.line
			width: 100%
			height: 2px
			background: #12191c
			margin-top: 40px
		p
			text-transform: uppercase   
			color: #9da1a3
			padding: 40px 0 
			font-family: "Roboto" 
			font-weight: 500 
			font-size: 14px 

















































































































