// Normally mainpage styles
.content.landing
	background-image: url("../img/landing_bg.jpg")
	background-repeat: no-repeat 

.content.landing
	.inn
		background: transparent 
	.content__top
		+clr
		padding-top: 60px 
		.follow
			margin-top: 120px 
			float: left
			color: #fff
			h3
				font-family: "Roboto"
				font-weight: 100
				font-size: 48px 
			p
				font-family: "Roboto"
				font-weight: 400  
				font-size: 14px
				margin-top: 30px  
			.btn
				text-align: center
				color: #fff
				font-family: "Roboto" 
				font-weight: 500 
				text-transform: uppercase 
				margin-top: 85px 
				input
					width: 170px 
					height: 50px 
					+border-radius(4px)
					margin: 0 5px
					cursor: pointer 
				.regular
					+g(#31c1b8, #198275) 
				.tran
					background: transparent
					border: 3px solid #fff  
		.phones
			float: right
	.content__bott
		.title
			margin: 0 auto
			text-transform: uppercase 
			color: #FFF 
			p
				 
				font-size: 14px 
			h2
				font-family: "Roboto"
				font-size: 48px
				font-weight: 100 




			






















































































































































































































